
#principal{
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    min-height : 500px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .image{
    width: 20%;
    margin-bottom: 1em;
}

.custom{
    margin-right: 1em;
}